# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# macOS files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Cache folders
*.cache/

